@use 'variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', 'Roboto', sans-serif;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Предотвращаем скролл всего body */
}

* {
  box-sizing: border-box;
}