:root {
  --background-color: #f0f5f8;
  --background-card-color: #ffffff;
  --text-primary-color: #0c0c0c;
  --text-secondary-color: #414141;
  --text-size-sm: 14px;
  --text-size-md: 20px;
  --text-size-lg: 24px;
  --text-size-xl: 32px;
  --text-size-2xl: 40px;
  --text-size-3xl: 48px;
  --apply-button-color: #c4fdce;
  --apply-text-color: #0c0c0c;
  --default-button-color: #4238ff;
  --default-text-color: #ffffff;
  --danger-button-color: #ff6b6b;
  --danger-text-color: #ffffff;
  --transparent-button-color: transparent;
  --transparent-text-color: #0c0c0c;
}

[data-theme="dark"] {
  --background-color: #27094e;
  --text-primary-color: #0C0C0C;
  --text-secondary-color: #0C0C0C;
}